# compilation and distribution
__pycache__
*.pyc
*.egg-info/

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# Data and model directories
/octo/
/datasets/
/openvla/checkpoints/
/openvla/wandb/
/openvla/openvla-7b/
/.maniskill/
*.zip

# Collect directories (通用规则匹配所有collect目录)
**/mp_collect/
**/octo_collect/


# Specific collect directories
/ManiSkill/mp_collect/
/SimplerEnv/octo_collect/
/SimplerEnv/wandb/
